body
{
    padding-top: 60px;
    padding-bottom: 40px;
}

/* login
----------------------------------------------------------*/
.container > .login-content
{
    margin: 0 auto;
    width: 300px;
}
.container > .login-content > form.login-form
{
    background-color: #fafafa;
    padding: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.container > .login-content > form.login-form legend
{
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
}
/* END LogIn */

/* styles for validation helpers
----------------------------------------------------------*/
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input[type="text"].input-validation-error, input[type="password"].input-validation-error
{
    border: 1px solid #e80c4d;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}
/* END validation helpers */

/* styles for social helpers
----------------------------------------------------------*/
ul#social li
{
    display: inline;
    list-style: none;
}

ul#social li a
{
    color: #999;
    text-decoration: none;
}

a.facebook, a.twitter
{
    display: block;
    float: left;
    height: 24px;
    padding-left: 17px;
    text-indent: -9999px;
    width: 16px;
}

a.facebook
{
    background: url("../../../../Images/facebook.png") no-repeat;
}

a.twitter
{
    background: url("../../../../Images/twitter.png") no-repeat;
}
/* END Social helpers */

.control-label
{
    /*padding-top: 0 !important;*/
    margin-right: 15px;
    width: 140px;
    text-align: right;
}
.control-label-value
{
    padding-top: 5px;
    min-width: 150px;
    display: inline-block;
}

.simple-table
{
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
.simple-table th
{
    background-color: #F0F0F0;
    text-align: left;
}
.simple-table th, .simple-table td
{
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
}
