@model WebApp.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<hgroup class="title">
        <h1>Change Password.</h1>
        <h2><small>Use the form below to change your password.</small></h2>
    </hgroup>
<p class="message-info">
    New passwords are required to be a minimum of @(Membership.MinRequiredPasswordLength)
    characters in length.
</p>
<script src="@(Url.Content("~/Scripts/jquery.validate.min.js"))"></script>
<script src="@(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"))"></script>
@{ Html.RenderPartial("_ChangePasswordPartial", Model);}
