@model WebApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<hgroup class="title">
    <h1>Register.</h1>
    <h2><small>Use the form below to create a new account.</small></h2>
</hgroup>
<p class="message-info">
    Passwords are required to be a minimum of @(Membership.MinRequiredPasswordLength)
    characters in length.
</p>
<p>
    You will be subscribed to our Free Plan by default, so your Credit Card will not
    be charged for this Plan
</p>
@(Html.Partial("_RegisterPartial", Model))