@model WebApp.Models.PriceModel

@{
    ViewBag.Title = "Prices";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<h4>Choose Product Family</h4>

 @Html.DropDownList("Product.Families", new SelectList(Model.ProductFamilies, "Id", "Name"))

<div id="pricingPlan">
    @Html.Partial("Partials/PricingPlan", Model)
</div>

<script type="text/javascript">
    $(function () {
        $('#Product_Families').change(function () {
            loadPriceBySelectedFamily();
        });
    })

    function loadPriceBySelectedFamily() {
        var productFamilyId = $('#Product_Families option:selected').val();
        $.get('@Url.Content("~")Home/PriceByFamily', { productFamilyId: productFamilyId }, function (data) {
            $('#pricingPlan').html(data);
        });
    }
</script>